<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Búsqueda de películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Búsqueda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-label>Resultados:</ion-label>

    <ion-list> 
      <ion-item button *ngFor="let item of (results | async)"> 
        <ion-label text-wrap>
          {{ item.Title }} ({{ item.Year }})
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>